[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[packages]
flask = "==1.1.1"
gunicorn = "==20.0.4"
hashedindex = "==0.5.0"
pymmh3 = "==0.0.5"
requests = "==2.22.0"
snowballstemmer = "==2.0.0"
stop-words = "==2018.7.23"

[dev-packages]
flake8 = "*"
pytest = "*"
