[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8"

[packages]
flask = "==1.1.2"
gunicorn = "==20.0.4"
hashedixsearch = "==0.2.10"
inflect = "==5.0.2"
requests = "==2.25.1"
stop-words = "==2018.7.23"
snowballstemmer = "==2.0.0"
unidecode = "==1.1.1"

[dev-packages]
en_core_web_sm = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz"}
flake8 = "*"
pytest = "*"
spacy = "*"
